@model IEnumerable<ProjetoFinal01.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}
<style>
 .bg {
        background: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80') no-repeat;
        width: 100%;
        height: 100vh;
        background-size: 100%;
    }

        th{
        color: white;
    }

    td{
        color: white;
    }

    h1{
        color: white;
    }

</style>
<div class="bg">
<h1>Alunos</h1>


<p>
    <a asp-action="Create">Cadastrar Novo Aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.idProfessor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAluno">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idAluno">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.idAluno">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>